body {
  font: 100% -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 50px;
  text-align: center;
  line-height: 26px;
  background-color: #14161a;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background-color: #14161a;
}

body::-webkit-scrollbar-thumb {
  background-color: #242425;
}

#footer {
  background-color: rgb(34, 33, 33);
  padding: 2pt;
}

#footer-btn {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 1px solid rgb(107, 107, 207);
  border-radius: 5%;
  background-color: rgb(22, 21, 21);
  z-index: 9;
}

#footer-btn:hover {
  cursor: pointer;
  background-color: rgb(107, 107, 207);
}

#bar {
  background-color: #14161a;
  width: 100%;
  height: 2.5rem;
  position: fixed;
  z-index: 9;
}

#bar div,
#bar a {
  color: white;
}

#bar > #title {
  padding: 2pt;
  text-align: center;
  font-size: 2.5em;
  z-index: 10;
  left: 24%;
}

#bar > #menu {
  margin-top: 3pt;
  left: 65%;
  z-index: 10;
}

#cart-div {
  margin-top: 4pt;
  z-index: 10;
}

#cart-body {
  margin-top: 0.45%;
  margin-left: 37.5%;
  width: 25%;
  background-color: rgb(43, 41, 41);
  display: none;
  grid-column-gap: 24px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  border:rgba(255, 255, 255, 0.5) solid 1pt;
  border-top: none;
}

.btn-bar-style {
  padding: 2pt;
  padding-right: 2%;
  padding-left: 1.9%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 1px solid rgb(93, 155, 0);
  border-radius: 5%;
  background-color: rgb(22, 21, 21);
}

.btn-bar-style:hover {
  background-color: rgb(93, 155, 0);
}

.vignette {
  object-fit: fill;
  height: fit-content;
  width: 100vw;
}

#main {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}

.product-row {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.product {
  margin: 5rem;
  background-color: inherit;
  width: 25%;
}

.field-product {
  color: white;
  background-color: rgb(22, 21, 21);
  display: flex;
  flex-direction: column;
}

.description-product {
  margin: 20px;
  text-align: justify;
  max-width: 50%;
  overflow-wrap: break-word;
  align-self: center;
}

.grayout {
  filter: grayscale(1) blur(2px);
}

.img-product {  
  background-repeat:no-repeat;
  background-size:contain;
  height: 100%;
  width: 100%;
}

.price-product {
  color:rgb(107, 107, 207);
  font-size: 1.3em;
  max-width: 50%;
  align-self: center;
  overflow-wrap: break-word;
}

.white{
  color: #fff;
}

.title-product {
  font-size: 1.3em;
  max-width: 50%;
  align-self: center;
  overflow-wrap: break-word;
}

.btn-buy {
  color: white;
  width: 60px;
  margin-top: 5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 30px;
  margin-bottom: 20px;
  border: 1px solid rgb(107, 107, 207);
  border-radius: 5%;
  background-color: rgb(22, 21, 21);
  z-index: 1;
}

.btn-buy:hover {
  cursor: pointer;
  background-color: rgb(107, 107, 207);
}

.center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#form {
  overflow-y: scroll;
  max-height: 75vh;
  min-height: fit-content;
  background-color: rgb(43, 41, 41);
  position: fixed;
  width: 50%;
  left: 50%;
  border-radius: 5pt;
  padding: 1rem 0rem;
  box-shadow: inset 0 0 0.5em rgb(93, 155, 0);
  z-index: 2;
}

.form-group {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-label {
  margin-left: 2%;
  font-size: 1.5rem;
  padding: 0.5rem;
  padding-left: 0rem;
}

.form-input {
  width: 94%;
  margin-left: 2%;
  padding: 0.5rem;
  border-style: solid;
  outline: none;
}

.form-input:focus {
  border-color: rgb(93, 155, 0);
}

#form-add-btn {
  width: 94%;
  margin-top: 2rem;
  padding: 1rem;
  border-color: rgb(93, 155, 0);
  border-style: solid;
  font-size: 2rem;
}

#form-add-btn:hover {
  background-color: rgb(93, 155, 0);  
}

#form-close-btn {
  width: 94%;
  margin-top: 2rem;
  padding: 1rem;
  border-color: rgb(214, 61, 50);
  border-style: solid;
  font-size: 2rem;
}

#form-close-btn:hover {
  background-color: rgb(214, 61, 50);  
}

#file-display {
  max-width: 100%;
  max-height: 100%;
}

#file-display-img {
  max-height: 100%;
  max-width: 85%;
}

.btn-remove {
  color: white;
  width: 60px;
  margin-top: 5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 30px;
  margin-bottom: 20px;
  border: 1px solid rgb(214, 61, 50);
  border-radius: 5%;
  background-color: rgb(22, 21, 21);
  z-index: 1;
}

.btn-remove:hover {
  cursor: pointer;
  background-color: rgb(214, 61, 50);
}

.buttons-div {
  display: flex;
  flex-direction: row;
  align-self: center;
}